[2017-06-27 08:19] ConanKapoor opened #11 "Connection Refused"
Hey guys! I really like your project and i was trying to run it on my Kali linux but even after configuring torrc file I'm getting **"ConnectionRefusedError: [Errno 111] Connection refused".**

There is no documentation. Can you please explain the configuration to run this project. Thank you!

This is the error thrown by running **torBot.py** -

[2017-06-27 08:45] PSNAppz commented on #11
@ConanKapoor Thanks for showing interest in this project. We are sorry that our documentation is still under development and thanks for reminding us.

Before you run the torBot make sure the following things are done properly:

* Run tor service
`sudo service tor start`

* Set a password for tor
`tor --hash-password "my_password" `

* Give the password inside torbot.py
`from stem.control import Co

[2017-06-27 11:21] ConanKapoor commented on #11
@PSNAppz Thanks for your fast response. I implemented all the 3 steps above and still i am receiving the same error.

- I have 64-bit Tor browser (Version 7.0.1).
- I have installed requirements.txt with pip3.
- I have added my hash password in controller.authenticate()
- I have edited my torrc file with the configuration given in Tor.md
- I restarted tor service.

**torrc file -**
[code]

**Excer

[2017-06-27 11:29] agrepravin commented on #11
@ConanKapoor
Uncomment SOCKSPort 9051
Restart tor and try, Please

[2017-06-27 11:57] ConanKapoor commented on #11
Hey! @agrepravin.

- I Uncommented **SOCKSPort 9050** at `/etc/tor/torrc`. Still it's throwing the same error.
- I further changed **SOCKSPort to 9051** and it is still throwing the same error.

Thanks for your reply :)

[2017-06-27 12:15] PSNAppz commented on #11
@ConanKapoor

Try these:

* Comment `SOCKSPort` (By default it is 9050)
* Uncomment or create `ControlPort 9051`
* Restart `tor` service

[2017-06-27 15:01] ConanKapoor commented on #11
@PSNAppz

I followed what you said and it totally removed the error. :) Although this error came up.

**Error -**
[code]
**Which I fixed by changing -**

`socks.set_default_proxy(socks.SOCKS5, "127.0.0.1",SOCKS_PORT)`
to
`socks.setdefaultproxy(socks.PROXY_TYPE_SOCKS5, "127.0.0.1",SOCKS_PORT)`

Still after running python3 torBot.py, I get following output (After banner) -
[code]

I think i am not a

[2017-06-27 15:05] PSNAppz commented on #11
@ConanKapoor
Are you sure you have installed `PySocks`

If you think you can fix the error by yourself you can close the issue, other wise we will help you figure it out. :+1:

[2017-06-27 15:43] ConanKapoor commented on #11
Everything is working fine after installing PySocks. Apologies from my side but i guess it was not included in requirements.txt.
Really awesome project :)

[2017-06-27 15:43] #11 closed

[2017-06-27 16:05] PSNAppz commented on #11
@ConanKapoor It was our mistake sorry for the trouble.

Thank you.

[2017-06-29 05:20] PSNAppz opened #16 "Website link listing taking too long"
Status code taking too long to print the results.
[code]

[2017-06-29 10:48] #16 closed

[2017-07-24 14:28] y-mehta opened #29 "[FEATURE_REQUEST] Save to File Feature"
Hello, I would like to add save to JSON feature in TorBoT.
Should I directly make changes in core modules or I should create a new Module?

Thanks.

[2017-07-24 14:31] agrepravin commented on #29
Better you create new module.

[2017-07-24 15:51] PSNAppz commented on #29
@y-mehta You can definitely create a new module for this and give a pull request to `dev` branch once you feel its good to go.

_Feel free to contact us for any help._

[2017-07-25 09:14] WilliamJamesDalrympleWest opened #30 "Does it store to a DB>"
Does it store the results to a db>

[2017-07-25 11:34] PSNAppz commented on #30
@WilliamJamesDalrympleWest No. We haven't implemented that feature yet. But it will be implemented in the future versions. If you are interested you can contribute.

[2017-07-25 14:34] PSNAppz commented on #30
@WilliamJamesDalrympleWest Closing this issue. Feel free to reopen this issue if there is any thing more to know.

_Thank You_,
_PSN_

[2017-07-25 14:34] #30 closed

[2017-07-25 15:33] #29 closed

[2017-11-25 06:30] PSNAppz opened #37 "Create a Wiki Page"
**_Hello,_**
_You are welcome to create a new wiki page for our project. The page should include almost every details of our project including usage,contribution guidelines and CHANGELOG.  Please read the wiki guide before making a wiki page. For more information comment on this issue._
[Wiki Guide](https://guides.github.com/features/wikis/)

[2017-12-20 12:21] Agostinelli opened #38 "Error using -i flag"
How does this flag work?

I have tried: `python3 torBot.py -i `and the results are equal to `python3 torBot.py`

However when I run it with an url, I get this error:

[code]

[2017-12-20 12:24] PSNAppz commented on #38
Hello @Agostinelli,
Thank you for reporting the issue. We'll check this and let you know about it asap.

[2017-12-20 12:37] PSNAppz commented on #38
@Agostinelli Bug Confirmed.
The` -i flag` is currently under development stage.
Please try `python3 torBot.py -u http://3g2upl4pq6kufc4m.onion` and paste the stack trace (if there is any) here.

Thank you for reporting the issue.

[2017-12-20 12:46] Agostinelli commented on #38
Here it is:

Traceback (most recent call last):
  File "/usr/local/lib/python3.5/dist-packages/socks.py", line 813, in connect
    negotiate(self, dest_addr, dest_port)
  File "/usr/local/lib/python3.5/dist-packages/socks.py", line 477, in _negotiate_SOCKS5
    CONNECT, dest_addr)
  File "/usr/local/lib/python3.5/dist-packages/socks.py", line 552, in _SOCKS5_request
    raise SOCKS5Error("{0:#04x}

[2017-12-20 12:49] PSNAppz commented on #38
@Agostinelli Good to hear that. So can I assign this issue to you?

[2017-12-20 12:52] Agostinelli commented on #38
Yes. I will do my best.

[2017-12-20 12:57] Agostinelli commented on #38
Could you please assign me the #37 as well?

[2017-12-20 12:57] PSNAppz commented on #38
@Agostinelli Ok done !

[2017-12-23 06:13] KingAkeem opened #40 "Error when trying to install requirements.txt"
Requirements.txt file is missing an equal sign operator for termcolor so you get an invalid operator error.
`Invalid requirement: 'termcolor=1.1.0'
= is not a valid operator. Did you mean == ?
`

[2017-12-23 06:47] #40 closed

[2017-12-24 12:16] #38 closed

[2017-12-24 16:43] Agostinelli commented on #37
I have added the wiki pages to my fork. Please review them.  Bye 👍
[wiki pages](https://github.com/Agostinelli/TorBoT/wiki)

[2017-12-24 16:58] PSNAppz commented on #37
@Agostinelli Good work. Some edits to be done before making a PR

- Add yourself as a contributor

- Add a link to License.md

[2017-12-24 17:03] Agostinelli commented on #37
Done 👍

[2017-12-24 17:09] PSNAppz commented on #37
Great 👏🏻, you can give a PR to dev branch once you are done. 👍🏻

[2017-12-24 17:22] Agostinelli commented on #37
I don't think it is possible. I cannot give PR with only wiki. Any workaround?

[2017-12-24 17:28] Agostinelli commented on #37
Could you enable collaborators to edit the wiki? In that way I will be able to copy the content.

[2017-12-24 17:33] PSNAppz commented on #37
Oh ok @Agostinelli I will add you as a collaborator

[2017-12-24 17:43] PSNAppz commented on #37
@Agostinelli Try now

[2017-12-24 17:49] Agostinelli commented on #37
Yes, I am able to edit it now!

[2017-12-24 17:55] Agostinelli commented on #37
I have copied all the content from my fork, however I cannot create a sidebar file. Try do it by yourself. Here is the code to put in the file:

[code]

[2017-12-24 18:26] PSNAppz commented on #37
@Agostinelli Ok updated 👏🏻 Thanks for the contribution.

[2017-12-24 18:44] #37 closed

[2018-01-05 19:27] KingAkeem opened #43 "PEP8ify code"
I would like to be able to pep8ify the code to fit Python standards

[2018-01-06 02:19] PSNAppz commented on #43
@KingAkeem You can proceed.

[2018-01-09 13:22] #43 closed

[2018-01-10 16:59] y-mehta opened #47 "Save to DB"
Hey, Anyone working on this feature?

[2018-01-10 17:12] PSNAppz commented on #47
@y-mehta Save to file is already there. So if you are planning to work on this add additional arguments (for example `torbot.py -s DB` or `torbot.py -s F` for Database and file respectively) to the `torbot.py -s`  option.

[2018-01-10 17:16] y-mehta commented on #47
Great, I'll work on this.

[2018-01-11 00:16] KingAkeem opened #48 "Add Documentation"
Use Google Style Docstrings for documentation.
Style Guide: http://sphinxcontrib-napoleon.readthedocs.io/en/latest/example_google.html

[2018-01-11 00:17] KingAkeem commented on #48
I'm currently working on this right now.

[2018-01-11 06:14] PSNAppz opened #49 "Release torBot V 1.2 (Stable release)"
_**Things to be done before migrating to v1.2(stable)**_

- Update README.MD
- Update CHANGELOG.MD
- FIX BUGS
- CODE Standardization
- A minimal To-Do List

[2018-01-11 07:16] PSNAppz commented on #48
@KingAkeem Close this when the issue is fixed.

[2018-01-11 17:51] #48 closed

[2018-02-01 16:43] PSNAppz opened #55 "-i flag ideas"
The -i flag is still under development and I will be listing the features which are to be implemented.

- Webpage Title
- Description of the site (By analyzing the meta data content of the page and using some mining techniques)
- Basic Reconnaissance
- Your idea ...

[2018-02-01 21:52] KingAkeem commented on #55
Is anyone working on this?

[2018-02-01 22:00] Agostinelli commented on #55
Yes!

On 1 feb 2018, 21:52 +0000, Akeem King <notifications@github.com>, wrote:

[2018-02-01 22:09] KingAkeem commented on #55
Awesome, can't wait for the finish. If I can help in anyway, just let me know.

[2018-02-02 03:22] PSNAppz commented on #47
@invalid-email-address Are you still on it?

[2018-02-02 17:11] PSNAppz opened #58 "- e flag not working"
@KingAkeem . See the previous version (current master) . We missed the ext flag. That is no longer in the dev branch. Please add the code for it and submit to dev before porting to 1.2 .

[2018-02-02 17:48] PSNAppz opened #59 "Error in getemails module"
`python3 torBot.py -u https://www.rapidtables.com/web/html/mailto.html -m`
[code]

[2018-02-05 00:41] waisuan commented on #59
Hello. Submitted a pull request for this one. Let me know what you think! Thanks.

[2018-02-05 01:04] waisuan commented on #58
@PSNAppz -- Hmmm. I might be mistaken here but do we still require the -e option? Seems like getweblinks.valid_url is able to handle different kinds of URL extensions during the crawl. Is the option meant for something else?

[2018-02-05 01:16] waisuan commented on #47
@PSNAppz

Hello! I'd like to know more about the requirements for this one. What sort of DB are we talking about here?

[2018-02-05 02:54] PSNAppz commented on #58
@waisuan The crawler by default fetches only .onion domains. The -e flag can extend the list of domains by passing the domains we want to fetch if exists. There should also be `-e all` So that all the domains can be crawled. Hope you understand.

[2018-02-05 14:44] waisuan commented on #58
@PSNAppz

Thanks for the clarification. Looking at the 'master' code [https://github.com/DedSecInside/TorBoT/blob/master/modules/getweblinks.py#L45], it looks like the -e flag is used to _limit_ the results to a set that have extensions of type X. Is that what we're trying to achieve here? In your explanation above, we are talking about expanding the resultset to all kinds of domains (which accord

[2018-02-05 15:30] PSNAppz commented on #58
@waisuan Yea what you said is right. In the master branch we tried to limit the result using  -e flag. But as our project is about tor network we should return only .onion links and as an extension we can use the -e flag .

[2018-02-06 17:46] PSNAppz opened #61 "-L flag not showing any output"
The -l flag is supposed to return live web links but its not doing any thing in the latest build.

[2018-02-06 17:48] PSNAppz commented on #47
@waisuan sql databases (Mysql)

[2018-02-08 07:17] agrepravin opened #64 "Torbot breaks for non onion site"
usage:
python torBot.py -u www.google.com

Error:
Traceback (most recent call last):
  File "torBot.py", line 188, in <module>
    main()
  File "torBot.py", line 162, in main
    html_content = pagereader.readPage(link)
  File "/root/tor/TorEnv/TorBoT/modules/pagereader.py", line 9, in readPage
    req = urllib.request.Request(site, None, headers)
  File "/usr/lib/python3.5/urllib/request.py", li

[2018-02-08 08:18] PSNAppz commented on #64
`python3 torBot.py -u https://www.google.com
`
Try this

[2018-02-08 08:53] agrepravin commented on #64
we will need to alert user to use https or they haven't done we will need to prepend it before passing it to pagereader

[2018-02-08 08:57] PSNAppz commented on #64
Yea if you like to find a solution for that you can reopen this issue and start working on a fix

[2018-02-08 08:58] agrepravin commented on #64
yeah will try to workout something for this

[2018-02-08 09:02] PSNAppz commented on #64
Great !

[2018-02-08 13:52] KingAkeem commented on #61
Issue should be fixed in my newest pull request, try it out.

[2018-02-08 13:54] KingAkeem commented on #58
@waisuan Are you still working on this bug fix or can I pick it up?

[2018-02-08 16:25] PSNAppz commented on #58
@KingAkeem Assigning this to you.

[2018-02-09 02:33] PSNAppz commented on #47
@waisuan Yes.

[2018-02-12 06:11] PSNAppz commented on #64
Fixed

[2018-02-12 06:11] #64 closed

[2018-02-12 14:41] #61 closed

[2018-02-12 17:26] #58 closed

[2018-02-12 17:29] PSNAppz commented on #59
`Traceback (most recent call last):
  File "torBot.py", line 186, in <module>
    main(conn=True)
  File "torBot.py", line 162, in main
    emails = getemails.getMails(html_content)
  File "/home/psn/Documents/TorBoT/modules/getemails.py", line 24, in getMails
    links = soup.find_all('a')
AttributeError: 'NoneType' object has no attribute 'find_all'
`
Need a fix asap

[2018-02-12 17:35] #49 closed

[2018-02-13 01:32] waisuan commented on #59
Hmmm . Doesn’t seem to be related to my changes. Will take a look.

[2018-02-14 16:14] waisuan commented on #59
Do you have a way of replicating the error, @PSNAppz ? I'm not getting anything on my side.

[2018-02-14 16:58] PSNAppz commented on #59
@waisuan Try this one
`python3 torBot.py -u https://www.helloaddress.com/ -m `
It has one mail id in the page but its returning 0 found.
But on the other hand this one is working perfect
`python3 torBot.py -u https://www.asianpaints.com/contact-us.html -m `

[2018-02-15 03:15] waisuan commented on #59
I'm not getting any errors for both links...

![image](https://user-images.githubusercontent.com/10975700/36239017-6b6a6c3c-11fe-11e8-812f-16e6f06ad17c.png)

[2018-02-15 05:47] PSNAppz commented on #59
See its returning 0 . It should return 1

[2018-02-18 18:50] waisuan commented on #59
@PSNAppz -- I did a bit of debugging and I suspect that the issue at hand here is not bug-related. It would seem that the site that you have cited as an example is (probably) blocking visits from Tor nodes.

You would get an "Access Denied" error when accessing the page on Tor but OK on any other non-Tor browsers:-
![image](https://user-images.githubusercontent.com/10975700/36355525-8bd28636-14dc-

[2018-02-18 18:52] waisuan commented on #59
You can confirm this by turning https://github.com/DedSecInside/TorBoT/blob/dev/torBot.py#L108 off and running the crawler. You should be able to see the "mail" then.

[2018-02-25 19:23] KingAkeem commented on #59
Has this issue been fixed?

[2018-02-25 19:30] KingAkeem commented on #55
Has this feature been added?

[2018-02-25 19:42] KingAkeem opened #70 "Add more test coverage"
We should add more checks to each test case to cover cases more thoroughly. We should add coverage for edge cases, unexpected input and etc.

This is being addressed with #95 but we still need more test for network utilities and we should still cover more test cases.

[2018-02-26 20:55] Agostinelli commented on #70
Yes, I was thinking the same thing to be honest.

[2018-02-28 09:13] PSNAppz commented on #55
A PR is waiting to be merged but its not complete.

[2018-02-28 12:53] Agostinelli commented on #55
What is wrong with that PR?

[2018-02-28 12:54] PSNAppz commented on #55
@Agostinelli I think the description part is yet to be done. Am I right?

[2018-02-28 12:55] PSNAppz commented on #55
The PR so far looks good and will be merged soon.

[2018-02-28 12:56] Agostinelli commented on #55
Exact. But I will implement it in another PR.

On 28 Feb 2018, 12:54 +0000, PS Narayanan <notifications@github.com>, wrote:

[2018-03-13 00:56] PSNAppz commented on #47
@waisuan Are you still on this?

[2018-03-14 13:29] PSNAppz commented on #55
@Agostinelli Ok cool .

[2018-03-14 13:36] PSNAppz commented on #59
@waisuan Ok. @KingAkeem  Seems like a problem which cannot be fixed on our side.

[2018-03-14 13:36] #59 closed

[2018-03-14 13:41] PSNAppz commented on #70
I agree .

[2018-03-14 13:42] PSNAppz commented on #55
I'm thinking about some basic text mining stuff here.

[2018-03-15 21:47] tiagoCMatias opened #72 "Bad configuration - Help needed"
Hi,
I'm new to GitHub and I found this project interesting and I would like to contribute, but after setting the tor service and running the python script I get 0 results all the time.

Can someone help me, please?

Sorry for opening an issue for this but I didn't know what else to do.

Thanks

[2018-03-16 06:52] PSNAppz commented on #72
Hello,
First of all thank you for showing interest in contributing to our project. As you are new to github, you may find it difficult to start but its ok we will guide you through the entire contributing process. I will assign you a beginner task soon and will let you know about it.

Regards,
PSN

[2018-03-16 08:50] tiagoCMatias commented on #72
Hi,

I'm a software developer and I can help with all the open issues, and that is my intent. I'm just having a problem setting up the project and after that, I will try to help in the other issues opened.
I just need help to setup the project correctly.

I'm currently developing with Windows 10, and already have Tor service and my torrc file looks like this

`SocksPort 9050`

I can start the pyth

[2018-03-16 09:00] PSNAppz commented on #72
@tiagoCMatias Unless there is an error shown while running the program, it is perfect. Which url did you give as input?
Could you please provide the arguments passed?

[2018-03-16 09:36] tiagoCMatias commented on #72
If I try a normal URL like `google.com` it returns 0 results, but if I try an onion URL like `http://wikitjerrta4qgz4.onion/`, the program just hangs and never finishes

[2018-03-16 09:41] tiagoCMatias commented on #72
@PSNAppz My bad I got it to work... it seems that my computer/network is to slow... I needed to let the program to work for like 5minutes to start to get results.

It's solved... Thanks

[2018-03-16 09:41] #72 closed

[2018-03-16 10:02] PSNAppz commented on #72
@tiagoCMatias No prob 😊

[2018-03-16 23:42] tiagoCMatias commented on #47
Is this issue still open?
I'm trying to implement this... I did another argument in the python script requesting database name, username, and password... is this ok?

[2018-03-17 02:04] PSNAppz commented on #47
@tiagoCMatias I like your idea but, if there is an env file in which you can add the credentials that would be more organised and better rather than giving username and password every time.

[2018-03-23 14:08] KingAkeem commented on #55
Is anyone still working on this?

[2018-03-27 11:11] shivankar-madaan opened #77 "Exception handling"
When I run this (with the Tor service being down) [DEV branch]
` python torBot.py -u http://torlinkbgs6aabns.onion/`
I get this error
[code]
its got to do something to do with
[code]

in pagereader.py
Can we fix this?

[2018-03-27 12:11] PSNAppz commented on #77
@shivankar-madaan Thank you for raising the issue. @Agostinelli  Please confirm this.

[2018-03-27 14:14] KingAkeem commented on #77
I can't reproduce the error, I just tried it out and it worked fine for me. Could you give me some more details of your system?

[2018-03-27 14:15] shivankar-madaan commented on #77
@KingAkeem did you have the Tor service as not running?

[2018-03-27 14:16] KingAkeem commented on #77
No it's running, if it weren't running then I wouldn't be able to connect to the .onion website.

[2018-03-27 14:20] shivankar-madaan commented on #77
Here are my details
[code]

[2018-03-27 14:20] PSNAppz commented on #77
@KingAkeem He is running without the tor services being started.
@shivankar-madaan Are you saying that to handle the exception in a neat way?

[2018-03-27 14:21] shivankar-madaan commented on #77
yes @PSNAppz

[2018-03-27 14:22] PSNAppz commented on #77
I think thats a good idea. @KingAkeem What do you think?

[2018-03-27 14:22] KingAkeem commented on #77
I understand now, I thought you were saying that it didn't work correctly. What would you think a better method of handling the exception be? Currently it attempts to connect to a site three times, then raises an error which gives a description that tells the user how many times the connection was attempted and why it failed.

[2018-03-27 14:30] shivankar-madaan commented on #77
I am not sure about how right the solution is to be
But the I think if condition is not rightly written
It should be modified something like this
[code]
And with this we get a different error
[code]

[2018-03-27 14:33] KingAkeem commented on #77
@shivankar-madaan `type(err) == ConnectionError` returns False. The correct form is `err == ConnectionError`

[2018-03-27 14:38] PSNAppz commented on #77
@shivankar-madaan Would you like to talk in our slack channel? If yes, please post your emil for the invitation.

[2018-03-27 14:44] shivankar-madaan commented on #77
sure @PSNAppz
mrxlimitless@gmaildotcom

[2018-03-27 14:56] shivankar-madaan commented on #77
@KingAkeem with type(err) the code flow is able to reach to the `raise("There has been a connection error after three attempts")`
But with the usual code we are reaching to
[code]

[2018-03-27 15:01] PSNAppz commented on #77
@shivankar-madaan Invited

[2018-03-27 15:01] shivankar-madaan commented on #77
thanks @PSNAppz

[2018-04-08 11:35] PSNAppz commented on #77
Referencing PR #78

[2018-04-08 11:37] #77 closed

[2018-05-12 14:43] PSNAppz opened #86 "Fix 'Using type() instead of isinstance() for a typecheck.' issue in modules\pagereader.py"
[CodeFactor](https://www.codefactor.io/repository/github/dedsecinside/torbot/overview/dev) found an issue: Using type() instead of isinstance() for a typecheck.

It's currently on:
[modules\pagereader.py:90
](https://www.codefactor.io/repository/github/dedsecinside/torbot/source/dev/modules/pagereader.py#L90)

[2018-05-12 14:43] PSNAppz opened #87 "Fix 'Duplicate Code' issue in modules\pagereader.py"
[CodeFactor](https://www.codefactor.io/repository/github/dedsecinside/torbot/overview/dev) found an issue: Duplicate Code

It's currently on:
[modules\pagereader.py:38-50
](https://www.codefactor.io/repository/github/dedsecinside/torbot/source/dev/modules/pagereader.py#L38)[modules\pagereader.py:81-93
](https://www.codefactor.io/repository/github/dedsecinside/torbot/source/dev/modules/pagereader.p

[2018-05-12 14:45] PSNAppz opened #88 "Fix 'Unused argument 'live'' issue in modules\getweblinks.py"
[CodeFactor](https://www.codefactor.io/repository/github/dedsecinside/torbot/overview/dev) found an issue: Unused argument 'live'

It's currently on:
[modules\getweblinks.py:88
](https://www.codefactor.io/repository/github/dedsecinside/torbot/source/dev/modules/getweblinks.py#L88)

[2018-05-12 14:47] PSNAppz opened #89 "Fix 'Final newline missing' issue in tests\test_savetofile.py"
[CodeFactor](https://www.codefactor.io/repository/github/dedsecinside/torbot/overview/dev) found an issue: Final newline missing

It's currently on:
[tests\test_savetofile.py:40
](https://www.codefactor.io/repository/github/dedsecinside/torbot/source/dev/tests/test_savetofile.py#L40)

[2018-05-16 09:49] SubaruSama commented on #87
I am downloading the source code and will try to fix that. By tomorrow i will post an update.

[2018-05-17 02:11] #86 closed

[2018-06-01 04:16] #89 closed

[2018-06-01 07:52] #88 closed

[2018-06-17 22:05] KingAkeem opened #93 "Stop making actual network connections when running tests"
By either creating mock objects or simply downloading the test data locally and keeping it in a separate `test_data` folder. This will help with increasing the speed of test and not relying on a network connection to run tests. We don't want to touch actual servers while running tests and the tests currently take an unnecessary long amount of time.

[2018-07-01 05:01] PSNAppz opened #94 "Build visualizer module"
* A visualizer module
*  See other OSINT tools for reference

[2018-07-04 18:29] #93 closed

[2018-07-04 18:33] KingAkeem opened #97 "Add Documentation to Functions"
The code is already decently documented but we don't have full coverage yet and it would be extremely helpful since it would help us to build an API that can then easily generate docs. If you need any instructions or directions, I'd be glad to help you. We use Google Style Python Docstrings, here's a reference if needed: http://sphinxcontrib-napoleon.readthedocs.io/en/latest/example_google.html

[2018-07-04 18:49] KingAkeem opened #98 "Allow user to configure IP Address and Port"
So currently TorBot runs on localhost (127.0.0.1) and port 9050, we'd like to add `--ip` & `--port` flags to allow a user to optionally give a new ip address or port.

[2018-07-05 00:53] KingAkeem opened #100 "Format .gitignore"
Add some since of formatting to `.gitignore` and also add any useful patterns. A pattern that I was thinking of is

[code]

[2018-07-06 16:31] PSNAppz commented on #94
@KingAkeem Its better we start this one soon.
See this for reference : [Link](http://www.visualsitemapper.com/map/google.com)

[2018-07-08 00:55] KingAkeem commented on #94
I don't really get what it's doing. Could you give me a brief explanation?

[2018-07-08 10:54] KingAkeem opened #102 "Use BFS for traversing links"
Implement BFS for web crawling URLs, we currently only search the URL that is passed to TorBot for links on that page. We'd like to search them as a graph using BFS.

[2018-07-16 14:04] PSNAppz commented on #94
@KingAkeem This is what I want.
<img width="664" alt="screen shot 2018-07-16 at 7 32 54 pm" src="https://user-images.githubusercontent.com/4481429/42762885-1d14fd6a-892f-11e8-9a45-ba979792a056.png">

[2018-07-21 12:08] aldokkani commented on #87
I'm going to work on this. Is that okay?

[2018-07-21 14:17] PSNAppz commented on #87
@aldokkani Ok sure.

[2018-07-30 14:31] KingAkeem commented on #102
I'm going to begin working on this soon.

[2018-07-30 15:23] PSNAppz commented on #102
@KingAkeem Ok Great.

[2018-07-30 15:24] KingAkeem opened #104 "Switch to Twisted from requests"
We're currently using requests, which is a synchronous HTTP library. One of our features, which retrieves links and tests if the link is reachable via HTTP/HTTPS is extremely slow due to this. Switching to Twisted, which is asynchronous should provide a speed up as well as give us the ability to take advantage of the async nature of Twisted.

[2018-08-04 10:54] KingAkeem commented on #102
I think I'm going to work on switching to Twisted instead since we really need performance to make the `-l` flag usable.

[2018-08-05 14:54] #98 closed

[2018-08-05 14:56] #100 closed

[2018-08-05 14:59] PSNAppz commented on #87
@aldokkani Status?

[2018-08-05 15:02] aldokkani commented on #87
It was merged #103

[2018-08-05 15:04] PSNAppz commented on #87
@aldokkani Oh ok No problem .

[2018-08-05 15:04] #87 closed

[2018-08-05 15:04] atlking-Novetta commented on #87
@aldokkani If you reference the issue number within the pull request then it will notify of the status of the pull request in the issue thread.

[2018-08-05 21:03] #104 closed

[2018-08-06 17:19] KingAkeem commented on #55
Has been merged.

[2018-08-06 17:19] #55 closed

[2018-08-09 01:12] KingAkeem opened #113 "Design GUI for TorBot"
I think we should create a  GUI for TorBot to make it more user-friendly using something like Electron (JavaScript) possibly? I think it'd be a good framework because of the pure popularity so it'll be easy to find contributors and it's supposedly very productive so we'll be able to get out a version very soon.

[2018-08-10 12:10] #102 closed

[2018-08-13 08:16] DocKali opened #115 "Invalid Syntax in savedb.py"
Hi guys,

First of all, thank you for handling this project which seems really interesting.

When I try to test your tool, I have an error concerning savedb.py. Here is the traceback I have :

Did the mistake came from my side and you can I solve that?

Thank you for your help!

EDIT :  Just saw that this error will be corrected in TorBot 1.3, am I right?

[2018-08-13 09:42] PSNAppz commented on #115
@DocKali Thanks for the issue. Unfortunately for you its already fixed.

[2018-08-13 12:10] DocKali commented on #115
If the issue is fixed, why did I have always this error message? I just made a git pull and my version of your tool is up-to-date...

[2018-08-14 05:51] DocKali opened #116 "Problem when running torBot binary"
Hi,
When I try to run TorBot binary, I obtain an error and the tool stop. Here is the traceback :

[code]

Do you know how to solve this?

Thanks for your help!

[2018-08-14 13:05] PSNAppz commented on #115
@DocKali Thanks for pointing that out. The fix is yet to be merged.

[2018-08-15 17:49] #115 closed

[2018-08-16 15:04] #47 closed

[2018-08-16 15:07] PSNAppz commented on #116
@KingAkeem Please take a look at this.

[2018-08-16 15:36] PSNAppz commented on #70
Not closing this until coverage is atleast 80%

[2018-08-16 15:47] PSNAppz commented on #116
@DocKali Its not the issue of binary.
Could you provide us the exact option/input you gave to torBot ?

[2018-08-16 16:16] DocKali commented on #116
@PSNAppz Of course, it was a classical test of your tool. The syntax was python3 torBot.py -u sitename.onion
It test this input with several sites, and I have the result described above everytime.

[2018-08-16 17:25] PSNAppz commented on #116
@DocKali I cannot reproduce this.

[2018-08-16 18:00] DocKali commented on #116
Strange... I'll make more test to see if I can reproduce that.
Oups, I made a mistake in my first response to your demand. The syntax I used is of course ./torBot -u siteadresse.onion, not python3 -u siteadresse.onion.

[2018-08-17 03:33] PSNAppz commented on #116
@DocKali Ok but both has the same effect.

[2018-08-18 00:34] KingAkeem commented on #116
@DocKali Have you tried installing the requirements via `pip3 install -r requirements.txt`?

[2018-08-28 14:36] DocKali commented on #116
Thanks @KingAkeem for your help.

I did a python3 -m pip install -r requirements.txt and all requirements were already satisfied.
I try to run your tool with some random onion sites but always the same error that I described in my first message...

[2018-08-31 17:08] KingAkeem commented on #116
Did you do a `git pull` beforehand, because I think the requirement was added after your issue was opened. Also try using `pip3 install -r requirements.txt` rather than `python3 -m pip install -r reqiurements.txt`

[2018-09-03 09:11] DocKali commented on #116
I just made a git pull and it appears that the version I had of TorBot is up-to-date. Following your recommandations I use pip3 install -r requirements.txt and all requirements are already satisfied. If you need screenshots, I can provide them of course.

[2018-09-03 13:37] KingAkeem commented on #116
What system are you using? Is it a Windows machine?

[2018-09-11 12:31] DocKali commented on #116
Hey @KingAkeem Sorry for this late answer. Here are the requested informations :
- OS : kali-rolling
- Browser : Firefox ESR

Hope this will help you...

[2018-09-11 13:41] KingAkeem commented on #116
The problem should no longer exists, we removed the module using `python-dotenv` from TorBot. Do you have any files that stlll using `python-dotenv`? If so then you need to perform a `git pull`. Does that make sense? If you take a look at the error message, it's tell you that it's an issue with `dotenv` but we're no longer using this so that message doesn't make sense if you have the latest versio

[2018-09-14 14:20] KingAkeem opened #120 "Feature/Idea Suggestions!!"
All suggestions are welcome. Let's talk about what you'd like to see be added to TorBot and we can work on incorporating it into v2. This will be used to track your suggestions.

[2018-09-15 16:05] PSNAppz commented on #116
@DocKali #119 Should fix this issue. Please let us know if the problem still exists. Thank you.

[2018-09-15 16:06] #116 closed

[2018-09-17 08:28] PSNAppz commented on #120
• Metadata extractor
• Image grabber

[2018-09-20 03:07] PSNAppz commented on #120
Ok. I will edit my comment and add the details there itself then.

[2018-10-10 17:41] KingAkeem commented on #113
Would you like to help tackle this project?

[2018-10-10 17:48] Z3N00 commented on #113
yes

On 10-Oct-2018 11:11 PM, "Akeem King" <notifications@github.com> wrote:

[2018-10-10 17:53] KingAkeem commented on #113
Awesome, are you experienced with JavaScript and using the Electron framework in particular?

[2018-10-11 12:55] KingAkeem commented on #113
We're planning to use Vue with Electron, does anyone have experience with Vue?

[2018-10-11 22:22] 42B opened #130 "TypeError: hasattr expected 2 arguments, got 3"
https://github.com/DedSecInside/TorBot/blob/fa8eb533d47a74188886c1c94558de750e75759a/modules/utils.py#L84

[code]

https://docs.python.org/3/library/functions.html#hasattr

[2018-10-11 23:00] 42B opened #131 "cprint's broken?"
**Describe the bug**
[code]
How can `cprint` output properly with color without a comma separating the text and color?

https://github.com/DedSecInside/TorBot/blob/fa8eb533d47a74188886c1c94558de750e75759a/modules/info.py#L12

https://github.com/DedSecInside/TorBot/blob/fa8eb533d47a74188886c1c94558de750e75759a/modules/info.py#L16

https://github.com/DedSecInside/TorBot/blob/fa8eb533d47a74188886c1c9

[2018-10-12 00:03] KingAkeem commented on #131
These are syntax errors, you can submit a PR to fix them if you would like. Otherwise, I'll handle it. Nice catch :+1:

[2018-10-12 00:04] KingAkeem commented on #130
This is a syntax error, would you like to submit a PR to fix this?

[2018-10-12 01:05] KingAkeem commented on #130
This has been solved.

[2018-10-12 01:07] #130 closed

[2018-10-12 01:14] 42B commented on #131
@KingAkeem I'll send a PR right away

[2018-10-12 18:36] #131 closed

[2018-10-13 15:57] PSNAppz commented on #113
@Z3N00 Would you like to get an invitation for our slack channel ?

[2018-10-13 16:10] Z3N00 commented on #113
Yes sure
On Oct 13, 2018 9:27 PM, "PS Narayanan" <notifications@github.com> wrote:

[2018-10-13 16:12] PSNAppz commented on #113
Drop your email please.

[2018-10-13 16:56] Z3N00 commented on #113
kartikgupta676@gmail.com
same email

On 13-Oct-2018 9:42 PM, "PS Narayanan" <notifications@github.com> wrote:

[2018-10-13 16:57] PSNAppz commented on #113
Ok. will send you an invite now

[2018-10-14 16:42] PSNAppz commented on #94
@KingAkeem Great work 👏

[2018-10-14 16:42] #94 closed

[2018-10-18 06:43] shashwat1002 commented on #120
I think extracting the title for each webpage will be a good addition to the tree. I am willing to work on this.

[2018-10-18 06:46] PSNAppz commented on #120
@shashwat1002 Great! You can start working on it.

[2018-10-18 06:47] KingAkeem commented on #120
@shashwat1002 Sounds good, let us know if you need assistance.

[2018-10-18 15:55] KingAkeem opened #140 "Add get_images to LinkNodes"
**Describe the solution you'd like**
Add a method to [LinkNode](https://github.com/KingAkeem/TorBot/blob/80b3cb4d35f915cab6551fdcc0b962c8197bbead/modules/link.py#L9) that retrieves all of the urls from a link and caches them, similarly to emails and other links

Other solutions are welcomed and will be considered.

[2018-10-18 15:57] KingAkeem opened #141 "Set metadata for LinkNode"
**Describe the solution you'd like**
Extract metadata from HTTP response and set it to LinkNode properties

[2018-10-18 18:39] mariogomesbarbosa commented on #113
Hello, if still needing help with GUI, I'm an UX Designer and I'm exciting to be helping with this project. And I have a tween brother (lol but is true) that have experience with Vue.js. If you want invite me to slack channel, end we talk about it.
mariogomesbarbosa@gmail.com

[2018-10-18 18:42] atlking-Novetta commented on #113
@mariogomesbarbosa Awesome, super excited to have some experienced designers on board and we could definitely use the help in the upcoming project. I'll invite you to the slack now!

[2018-10-18 18:45] KingAkeem commented on #113
You've been invited to the channel! Thanks for the help

[2018-10-19 00:06] KingAkeem opened #142 "Turn link tree into JSON"
**Is your feature request related to a problem? Please describe.**
We need to be able to insert our trees into a DB and this will be easily done as JSON if we can figure out an algorithm/library/etc that can convert the link tree into a JSON object that can be stored.

**Describe the solution you'd like**
Not sure yet, open to suggestions.

[2018-10-19 05:55] dainmiller commented on #142
If you already have a linked tree, might consider using a document database to alleviate conversion?

[2018-10-19 06:14] PSNAppz commented on #140
@KingAkeem Links to images ?

[2018-10-19 06:59] KingAkeem commented on #142
What's a document database? I'm not aware of this concept, it may be a perfect solution.

[2018-10-28 15:54] PSNAppz commented on #113
@mariogomesbarbosa @Z3N00 Did you guys join the channel?

[2018-10-28 15:56] KingAkeem commented on #113
Yes they are both in the channel

[2018-10-28 15:58] PSNAppz commented on #113
Great !
We'll have to discuss about the GUI. @KingAkeem You can create a separate channel #GUI for this.

[2018-12-05 10:05] PSNAppz opened #153 "Invalid Connection header when using --server"
Invalid Connection header: ['keep-alive'] when using `--server` flag

[2018-12-05 10:05] PSNAppz opened #154 "Invalid Connection header"
Invalid Connection header: ['keep-alive'] when using `--server` flag [PR #152]

[2018-12-05 15:40] KingAkeem commented on #154
This isn't an invalid connection header, it's valid for WebSocket connections. It's the whole point, https://tools.ietf.org/id/draft-thomson-hybi-http-timeout-01.html

[2018-12-05 15:42] KingAkeem commented on #153
duplicate

[2018-12-05 15:42] #153 closed

[2018-12-07 13:18] PSNAppz commented on #154
Closing the issue.

[2018-12-07 13:18] #154 closed

[2018-12-28 12:48] Leejinjin opened #155 "ImportError: No module named dis3"
Hi. When I try to install TorBot on Kali linux(in Vmware) error occurs.

`root@kali:~/Downloads/TorBot-dev# ./install.sh
Collecting pyinstaller
Requirement already satisfied: pefile>=2017.8.1 in /usr/lib/python2.7/dist-packages (from pyinstaller) (2018.8.8)
Collecting macholib>=1.8 (from pyinstaller)
  Using cached https://files.pythonhosted.org/packages/41/f1/6d23e1c79d68e41eb592338d90a33af813f98

[2018-12-29 16:51] PSNAppz commented on #155
Did you give enough permission to the shell script?

[2018-12-29 18:10] KingAkeem commented on #155
@PSNAppz We need a docker container for TorBot to avoid these issues.

[2018-12-29 18:11] KingAkeem commented on #155
@Leejinjin There seems to be an issue with pyinstaller, you can run torBot directly to avoid this issue using `python3 torBot.py` or `python torBot.py` if you have python3 as default.

[2018-12-29 18:43] PSNAppz commented on #155
@KingAkeem We will create a docker image once we finish fixing the major bugs.

[2019-02-19 06:07] m0neyy commented on #155
still open? would be first pull request but I have decent python skills and a bit of kali experience

[2019-03-26 05:25] betanc opened #160 "Insallation issue on Kali"
**Describe the bug**
when i install torBot whith requirements.txt have this problem:

Collecting PyQt5==5.12.1 (from -r requirements.txt (line 9))
  Could not find a version that satisfies the requirement PyQt5==5.12.1 (from -r requirements.txt (line 9)) (from versions: )
No matching distribution found for PyQt5==5.12.1 (from -r requirements.txt (line 9))

I try install PyQt manually and don't wor

[2019-04-04 23:45] KingAkeem commented on #160
Have you tried `sudo apt-get install python-pyqt5` and do a pip install as well?

[2019-04-13 16:25] N1GHTPATROL commented on #155
Has this issue been fixed? I'm experiencing the same problem.

[2019-04-13 16:27] KingAkeem commented on #155
Which version of Python are you using?

[2019-04-13 16:30] KingAkeem commented on #155
Also what are the permissions on `install.sh`?

[2019-04-14 20:01] PSNAppz opened #161 "Data_Collector [Feature Request]"
**Is your feature request related to a problem? Please describe.**
Data collector for future prediction and analysis.

More details soon...

[2019-05-25 12:20] KingAkeem commented on #155
Closing due to no response

[2019-05-25 12:20] #155 closed

[2019-05-25 12:20] KingAkeem commented on #160
Closing due to no response

[2019-05-25 12:20] #160 closed

[2019-08-23 11:15] PSNAppz opened #163 "Refactor analyzer.py"
I've selected [**analyzer.py**](https://github.com/DedSecInside/TorBot/blob/b1ee46f89df7e7b056b85f89cf2130afee22757b/modules/analyzer.py#L1-L121) for refactoring, which is a module of **53** lines of code that couples the top-level components tightly. Addressing this will make our codebase more maintainable and improve [Better Code Hub](https://bettercodehub.com)'s **Couple Architecture Components

[2019-10-01 03:57] v1shwa opened #164 "Dockerize TorBot"
- Dockerize Torbot to avoid issues like #155 .
- Entry point should `torbot` binary.

[2019-10-01 03:58] v1shwa commented on #164
@PSNAppz I can take this up for Hacktoberfest , if it sounds cool. Please let me know.

[2019-10-01 04:01] PSNAppz commented on #164
@v1shwa Sounds like a plan. Let me or @KingAkeem know if you need any help.

[2019-10-01 20:38] OlgaCh commented on #141
Hi @PSNAppz
if this issue still valid I'd like to work on it as a part of the `hacktoberfest` contribution.

[2019-10-01 20:56] KingAkeem commented on #141
Yes this issue is still valid since we aren't currently storing the metadata from the response. Thank you for your interest in contributing, I'll assign the issue to you.

[2019-10-02 19:35] #164 closed

[2019-10-02 19:39] #141 closed

[2019-10-02 19:41] KingAkeem commented on #70
This is no longer being worked on if anyone wants to take a look.

[2019-10-02 19:41] #140 closed

[2019-10-04 07:10] Jacobite747 commented on #97
If this issue is still open/required, I'm happy to take it on as an initial contribution to the repo?

[2019-10-04 07:18] PSNAppz commented on #97
@Jacobite747 Yes, this is still valid. Please try to understand the code and then make a PR once you add the documentation. Please feel free to ask me or @KingAkeem if you need any help.

[2019-10-04 07:21] #161 closed

[2019-10-04 07:21] PSNAppz commented on #113
@KingAkeem Should I close this?

[2019-10-05 05:00] PSNAppz commented on #97
Closing this issue for now.

Thank you @kishan3  and @Jacobite747 for the contribution. :)

[2019-10-05 05:00] #97 closed

[2019-10-05 20:16] KingAkeem commented on #113
It's really still in progress but you can close it since the project is in a different repo.

[2019-10-06 15:24] #113 closed

[2019-10-07 04:51] #163 closed

[2019-10-09 22:54] cardinalion commented on #142
Document-oriented database is one kind of NoSQL db, MongoDB is a common one.

[2019-10-10 20:10] KingAkeem commented on #142
Sounds like it could be useful for this case, would you like to take on the task?

[2019-10-10 21:52] cardinalion commented on #142
I'm not very clear. Do you want to save the trees in mongodb? If so, will the trees be modified frequently?

[2019-10-10 22:02] KingAkeem commented on #142
I think that'd be a pretty cool feature. The trees won't be modified frequently at runtime. I was thinking that we could add an option so that users could store the trees in a DB that could be queried to retrieve the tree. The workflow would be
1. User inputs a command to generate a tree with a given URL and a flag to insert it into the DB.
2. After the tree is inserted
  a. User should be able to

[2019-10-12 01:00] Chris99999 opened #171 "Fix code style"
Some file don't have correct code style.

[2019-10-12 01:01] Chris99999 commented on #171
I work in some

[2019-10-12 05:59] #171 closed

[2019-10-12 17:33] KingAkeem opened #173 "Fix multi-threading issue"
**Describe the bug**
We're using multi threading to display links and Python isn't great at handling threads due to the [GIL](https://wiki.python.org/moin/GlobalInterpreterLock) so this causes stalling when trying to display several hundred (at minimum) links. I'm thinking that the solution in this case is to process the links asynchronously instead, it may not be as fast but it'll be stable.

**T

[2019-10-13 16:17] dblclik commented on #173
I’d like to tackle this—thinking `multiprocessing.Pool.map_async()` will help nicely here, but we’ll have to fetch the results from `async` as they come in, can’t recall offhand if handling this with a `for` left open for streaming data will work or not 🤷‍♂️

[2019-10-13 18:43] KingAkeem commented on #173
I'm working on this currently but my solution deals with using Golang. If you're able to write something in Python that has similar performance then that would be fine by me.

[2019-10-13 19:00] dblclik commented on #173
@KingAkeem - Golang would be easier for this for sure, but I think there may be a way to do it in Python.

How were you planning on tying this project to a Golang based multithreaded URL analyzer?

[2019-10-13 19:07] KingAkeem commented on #173
I'm going to try just using Go without any attempts at optimization since one of our bottlenecks is I/O, I think simply using Go to perform the request and print the status while provide a significant speed increase. After that, I'll run each request in a separate goroutine and take advantage of Go's built-in concurrency.

[2019-10-13 19:09] KingAkeem commented on #173
I have a somewhat working prototype currently. You can check our this PR: https://github.com/DedSecInside/TorBot/pull/174 and this repo contains the Golang code that's being used as a plugin https://github.com/KingAkeem/display_status

[2019-10-13 19:24] dblclik commented on #173
Sounds good, I'll un-assign myself from this issue.  I'll take a look at the PR too 👍

[2019-10-13 20:26] KingAkeem commented on #173
Sounds good to me :+1:

[2019-10-23 07:47] alan-raff commented on #120
Hi team, great work with this project. Very impressive. I'm curious, do you plan to add a feature where we can somehow authenticate to an onion service before scanning, as most links/info on many DNMs will be protected with a login system. Keep up the great work!

[2019-10-27 17:38] fepitre commented on #142
IMHO, it's a good start. I'm currently working on a prototype but the achievements of your points 2 are currently done using a separate tool. I'm not sure if it should be integrated or not in the main script.

[2019-10-28 22:14] KingAkeem commented on #120
We don't have plans of implementing such a feature. Would you be willing to work on it?

[2019-10-28 22:16] KingAkeem commented on #142
The option (query, remove, visualize, download) should be integrated into the `main` function because we'll need to be read the arguments from the user.

[2020-01-22 16:24] danieleperera commented on #120
Hi guys, have you got any plans to add Raw Protocol Info e.g. SSH Key, SSH Fingerprint and Software Banner ? Keep up the great work!

[2020-02-18 09:20] sh1va73 opened #177 "No module named 'ete3'"
I did a fresh install on latest Kali and get this error:
Traceback (most recent call last):
  File "torBot.py", line 10, in <module>
    from modules.analyzer import LinkTree
  File "/usr/local/lib/python3.7/dist-packages/PyInstaller/loader/pyimod03_importers.py", line 627, in exec_module
    exec(bytecode, module.__dict__)
  File "modules/analyzer.py", line 6, in <module>
    from ete3 import Tre

[2020-03-12 01:11] KingAkeem commented on #177
Which version of `pip` are you using? I just performed a fresh install on a Ubuntu machine with `v9.0.1` and python 3.6.

[2020-04-04 15:05] dongood2017 opened #179 "Tool"

[2020-04-06 10:39] PSNAppz commented on #179
@dongood2017 Please provide a description.

[2020-04-06 10:41] PSNAppz commented on #177
@sh1va73 If you are using `python3` with `pip3` try running` pip3 install ete3`
otherwise with`pip try pip install ete3`

[2020-04-07 07:14] Brumbpo-Tungus opened #180 "How do I fix this?"
Traceback (most recent call last):
  File "torBot.py", line 10, in <module>
    from modules.analyzer import LinkTree
ImportError: No module named analyzer
[4542] Failed to execute script torBot

What have I done wrong in the process of installing?

[2020-04-14 03:36] SubaruSama commented on #180
That's odd. In the code of torBot.py, in line 10, it is referencing the right module, and in the module is all good. Have you tried again?
My suggestion is: create a python virtual env, clone the repo and install the dependencies.

[2020-04-20 18:44] JeffBarron commented on #180
I have the same issue.

[2020-04-25 14:03] KingAkeem commented on #180
How are you executing `torBot.py` and what version of Python are you using?

[2020-05-14 10:44] samitbrc opened #181 "./torBot is throwing error"
**Describe the bug**
When running python3 torBot.py or ./torBot it is giving below error
File "torBot.py", line 10, in <module>
    from modules.analyzer import LinkTree
  File "/home/kali/TorBot/modules/analyzer.py", line 6, in <module>
    from ete3 import Tree, TreeStyle, TextFace, add_face_to_node
  File "/usr/local/lib/python3.8/site-packages/ete3/__init__.py", line 51, in <module>
    from .

[2020-05-14 10:54] samitbrc commented on #180
oh I have created another issue like this
my python is 3.8.2
os is kali

[2020-05-14 10:55] samitbrc commented on #180
File "torBot.py", line 10, in <module>
    from modules.analyzer import LinkTree
  File "/usr/local/lib/python3.8/site-packages/PyInstaller/loader/pyimod03_importers.py", line 623, in exec_module
    exec(bytecode, module.__dict__)
  File "modules/analyzer.py", line 6, in <module>
    from ete3 import Tree, TreeStyle, TextFace, add_face_to_node
  File "/usr/local/lib/python3.8/site-packages/PyInst

[2020-05-17 07:23] PSNAppz commented on #180
Try this: [StackOverFlow](https://stackoverflow.com/a/19748196/4161385)

[2020-05-17 07:25] #177 closed

[2020-05-17 09:36] samitbrc commented on #180
Thanks PSN....it worked.....
now I'm able to see the result of python3 torBot.py -h
now can you help me with steps to proceed further....?
I've used the command python3 torbot.py -u http://weevil.info/

1. It is showing multiple entries.........now I want to understand what is the actual use of crwaling this and get the output?
2. Is that possible to find darkweb footprints for a website using thi

[2020-05-17 11:41] #181 closed

[2020-05-17 11:41] samitbrc commented on #181
resolved by PSN

[2020-05-19 05:24] PSNAppz commented on #180
@samitbrc Great!
1. You will get a list of URLs crawled from the page and you can see the tree output. Along with this, you can get the contents of the page, emails etc. So basically, it's an OSINT tool.
2. We are working on that. Currently, this tool can be used for crawling both dark web and surface web pages.
@KingAkeem can give some more details.

[2020-05-29 17:42] d0n601 opened #182 "ImportError: cannot import name 'TreeStyle'"
**Describe the bug**
Seems to be throwing an ImportError, `ImportError: cannot import name 'TreeStyle'`.

**To Reproduce**
Steps to reproduce the behavior:
1. Install requirements via `pip3 install -r requirements.txt`
2.  `python3 ./torBot.py`

**Expected behavior**
I'm expecting to see the help documentation,
[code]

**Screenshots**
[code]

**System Information:**
 - OS: Ubuntu 18.04.3 LTS (GNU/

[2020-05-29 18:26] d0n601 commented on #182
Is it possible to run TorBot on Ubuntu Server? I'm seeing issues related to what appears to be a graphics library?

[2020-05-31 11:43] PSNAppz commented on #182
It should work on Ubuntu server as well.

Did you `pip install PyQt5`?

[2020-06-15 17:55] pretech86 opened #183 "not started"
when i try ./torbot i get

Traceback (most recent call last):
  File "torBot.py", line 10, in <module>
    from modules.analyzer import LinkTree
  File "/usr/local/lib/python3.8/dist-packages/PyInstaller/loader/pyimod03_importers.py", line 623, in exec_module
    #
  File "modules/analyzer.py", line 6, in <module>
    from ete3 import Tree, TreeStyle, TextFace, add_face_to_node
ModuleNotFoundError

[2020-06-16 06:28] PSNAppz commented on #183
Refer:[here]( https://github.com/DedSecInside/TorBot/issues/177)

[2020-06-16 06:28] #183 closed

[2020-06-16 11:48] pretech86 commented on #183
i tried python3 torBot.py and get the following
Traceback (most recent call last):
  File "torBot.py", line 10, in <module>
    from modules.analyzer import LinkTree
  File "/root/tools/reconnesence/TorBot.v1.3/TorBot v1.3/modules/analyzer.py", line 6, in <module>
    from ete3 import Tree, TreeStyle, TextFace, add_face_to_node
ImportError: cannot import name 'TreeStyle' from 'ete3' (/usr/local/li

[2020-06-17 14:09] PSNAppz commented on #183
Try in a virtual environment. I think all your python versions and packages are clashed.

[2020-06-18 04:12] pretech86 commented on #183
How i use virtual environment

[2020-06-18 05:49] PSNAppz commented on #183
Refer [this](https://help.dreamhost.com/hc/en-us/articles/115000695551-Installing-and-using-virtualenv-with-Python-3)

[2020-07-27 10:25] noneadd2427 opened #184 "Bug dark"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-07-27 11:11] PSNAppz commented on #184
@noneadd2427 Please describe the bug in detail

[2020-07-27 13:31] noneadd2427 commented on #184
Thank you whats the best way in cloud use this and could you help me use it

[2020-08-05 06:59] PSNAppz commented on #182
Closing this. Feel free to re-open if required

[2020-08-05 06:59] #182 closed

[2020-09-05 05:16] charmsoul opened #185 "Try"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-09-05 06:53] #185 closed

[2020-10-20 16:13] advanced4 opened #187 "Update README"
**Describe the bug**
The README is lacking some basic information & detail

**Additional context**
- How do I even use this tool? Showing an example usage is worth a lot
  - Do I have to specify lots of URLs, each as a "-u" argument? That seems unfriendly - can I provide a file?
- The 'Working Procedure/Basic Plan' section looks great, just what I want. How do I actually get it to do that?
  - I'v

[2020-10-20 16:15] advanced4 opened #188 ""gather" feature hangs"
**Describe the bug**
When trying to figure out what this program does (since its not in detail in the README), I ran
`python3 torBot.py -u https://p53lf57qovyuvwsc6xnrppyply3vtqm7l6pcobkmyqsiofyeznfu5uqd.onion --gather`
and it just hangs. I don't even know what gather does, but it should either complete, or timeout. Or if it's doing something in the background, it should indicate that.

**To Repro

[2020-10-20 16:26] advanced4 opened #189 "Defining a port results in a type error"
**Describe the bug**
A TypeError is thrown if the port is specified on the command line

**To Reproduce**
Steps to reproduce the behavior:
1. ` python3 torBot.py -u zqktlwiuavvvqqt4ybvgvi7tyo4hjl5xgfuvpdf6otjiycgwqbym2qad.onion --gather -p 9052`

**Expected behavior**
It to not throw a TypeError

**Additional context**
[code]

[2020-10-20 16:27] advanced4 opened #190 "Tree related features don't work, TypeError"
**Describe the bug**
Using arguments either "-d" or "-v" result in an error

**To Reproduce**
Steps to reproduce the behavior:
run `python3 torBot.py -u https://p53lf57qovyuvwsc6xnrppyply3vtqm7l6pcobkmyqsiofyeznfu5uqd.onion -v -d`

**Expected behavior**
It to not crash. I haven't had a success case, and the repo doesn't provide any example of what this feature actually does, so I don't know what t

[2020-10-20 16:55] PSNAppz commented on #187
@advanced4 Thanks for pointing this out. @masterugwee is working on an extensive documentation for the project. Hopefully, it’ll be added to the wiki page soon.

[2020-10-26 23:08] orrj opened #191 "Unknown Cause of Connection Issue"
Hello,

I'm not sure if this is the correct place to post this question, but I haven't been able to find any resolution through my online research.  When I try to run torBot.py, the program begins fine, then there are some connection errors, and the program eventually hangs and never finishes.  Below is the output I copied from the most recent attempt.

I have torrc with the following uncommented:

[2020-10-27 09:23] PSNAppz commented on #191
@orrj Thanks for reporting the bug, we are working on a major update and hopefully this will be fixed.

[2020-10-30 08:09] #188 closed

[2020-11-03 01:47] KingAkeem commented on #70
This can be broken up into a couple of tasks.
1. Decide on testing framework
2. Decide on HTTP client mocking library or create custom mocks
3. Design necessary mocks and write unit tests

[2020-11-03 03:06] #189 closed

[2020-11-17 14:46] chayasorir opened #195 "Tor bot"

[2020-11-18 14:12] #195 closed

[2020-11-30 07:26] decysoccr opened #196 "Save results"
How can I Save results. What is the correct sintax?
And where the data would be saved?

[2020-12-14 14:12] sqrtZeroKnowledge commented on #196
Look like they didn't add the function of saving content into JSON extension. 🔢

[2020-12-26 16:42] Bilinmiyor81110 opened #198 "ModuleNotFoundError: No module named 'modules'"
`Traceback (most recent call last):
  File "src/torBot.py", line 10, in <module>
    from modules.analyzer import LinkTree
ModuleNotFoundError: No module named 'modules'
[12782] Failed to execute script torBot
`
not fouding the 'modules'
why? and how to solve it?

[2021-01-04 10:10] Individuum92 commented on #198
Have you installed the python dependencies?

- beautifulsoup4
- pyinstaller
- PySocks
- termcolor
- requests
- requests_mock
- yatta

[2021-01-11 00:16] SubaruSama commented on #190
I think i've got it. The problem it was incorrect when it was passing the informations to the render method.

Here's my solution:

[code]

[2021-02-20 17:32] disparata commented on #198
I ran into the same problem. I also had the error
`No module named 'ete3'`

The very easy solution for this is, to run the following commands **for every module which is causing problems**:
`pip3 uninstall <your_module_name>`
And then:
`pip3 install <your_module_name>`

So refering to your problem the module name should me "analyzer".

The problems are wrong paths and this will fix it. Run this fo

[2021-02-20 17:40] disparata commented on #177
Since this is the very first google entry you will find when searching for this error, here is the solution:

As I wrote in [this answer](https://github.com/DedSecInside/TorBot/issues/198#issuecomment-782719814), the easy solution for this is to uninstall and then install the module again using pip3.

Just run

`pip3 uninstall <your_module_name>`
`pip3 install <your_module_name>`

So here you shou

[2021-03-07 10:37] GodRagna commented on #11
Hello i followed everything mentioned upstairs but still having the same problem as him
Traceback (most recent call last):
  File "/usr/local/lib/python3.8/dist-packages/stem/socket.py", line 398, in _make_socket
    control_socket.connect((self._control_addr, self._control_port))
ConnectionRefusedError: [Errno 111] Connection refused

During handling of the above exception, another exception occu

[2021-03-29 17:22] KingAkeem opened #205 "Add cache to amortize link searches"
**Is your feature request related to a problem? Please describe.**
Searching for links is an expensive operation. It requires performing an HTTP Get request to the uri to obtain the header information. If this command is ran 10 times successively in 20 minutes then requests will be ran each time it's executed even though the status of the site has probably not changed.

**Describe the solution you

[2021-04-09 01:43] #205 closed

[2021-04-09 01:43] #173 closed

[2021-04-09 05:45] #198 closed

[2021-04-24 19:54] CYB3RMX opened #209 "Connection Refused Error"
**Describe the bug**
I tried to execute program from terminal there is no error but when I try to open web interface and crawl any of onion links my browser throws connection refused error.

**To Reproduce**
Steps to reproduce the behavior:
1. Start tor service manually: ```sudo systemctl start tor.service```
2. Go to the torbot-frontend directory: ```cd src/torbot-frontend/```
3. Starting angular

[2021-04-25 06:27] masterugwee commented on #209
The problem is due to not running the api.
Go to the src/api.
You can find endpoints.py in the folder, run it. This will solve the issue.

Steps to fix error: Once you run ng serve. In another terminal
`cd src/api`
`python3 endpoints.py`

[2021-04-25 11:20] CYB3RMX commented on #209
@masterugwee Thanks for the reply. I finally to open the program everything is fine but when I try to send any query I encounter this error:
![mali](https://user-images.githubusercontent.com/42123683/115991502-32379100-a5b8-11eb-8318-c9b216cfee3b.png)

[2021-04-25 15:52] masterugwee commented on #209
Strange, I guess there might be some indentation error. Can you pull the update and try again.

[2021-04-25 16:12] PSNAppz commented on #209
Seems like an issue with `LinkNode` @KingAkeem can you take a look at this?

[2021-04-25 16:16] KingAkeem commented on #209
The `LinkNode` links` property was replaced with a `get_links` method so that the metadata could be loaded dynamically. It looks like the front-end code is still referencing the old `links` property instead of using the `get_links` method. I'm not familiar with the UI code but wherever the links are being pulled will need to use the `get_links` method instead of trying to access the `links` member

[2021-04-25 16:19] KingAkeem commented on #209
https://github.com/DedSecInside/TorBot/blob/f95eacc5f73bec8a83c059a3cb4b0b091ec7429c/src/modules/link.py#L119-L122 Here's a link to the `get_children` method. It will return a list of `LinkNode` objects which are the children of that node.

[2021-05-21 01:49] SpicyChimney opened #210 "Classified"

[2021-06-01 17:31] BlAd373 opened #211 "issue to start"
Traceback (most recent call last):
  File "torBot.py", line 10, in <module>
  File "/usr/local/lib/python3.9/dist-packages/PyInstaller/loader/pyimod03_importers.py", line 493, in exec_module
    exec(bytecode, module.__dict__)
  File "modules/analyzer.py", line 6, in <module>
ModuleNotFoundError: No module named 'ete3'
[20299] Failed to execute script torBot

some suggestion?

[2021-06-01 18:59] KingAkeem commented on #211
It looks like `ete3` hasn't been installed, have you tried using `pip install -r requirements.txt`

[2021-06-01 19:01] KingAkeem commented on #211
[ete3](http://etetoolkit.org/) is a visualization library that is used to analyze and visualize link trees.

[2021-06-02 14:40] BlAd373 commented on #211
eta3 is installed but requirements.txt is not in the directory

[2021-06-02 14:44] BlAd373 commented on #211
i removed folder i reinstall from github now i receive this error
Traceback (most recent call last):
  File "torBot.py", line 10, in <module>
  File "/usr/local/lib/python3.9/dist-packages/PyInstaller/loader/pyimod03_importers.py", line 493, in exec_module
    exec(bytecode, module.__dict__)
  File "modules/analyzer.py", line 6, in <module>
ImportError: cannot import name 'faces' from 'ete3' (/tmp

[2021-06-04 17:57] KingAkeem commented on #211
Which version of Python are you using? and what's our OS?

[2021-06-05 04:05] luke2103 opened #212 "Attribute error when using -d or -v"
When I run **python3 torBot.py -u http://duskgytldkxiuqc6.onion/ -d** or **python3 torBot.py -u http://duskgytldkxiuqc6.onion/** -v I get the below error

                           __  ____  ____  __        ______
                          / /_/ __ \/ __ \/ /_  ____/_  __/
                         / __/ / / / /_/ / __ \/ __ \/ /
                        / /_/ /_/ / _, _/ /_/ / /_/ / /

[2021-06-09 13:24] BlAd373 commented on #211
kali linux 2021.2
Python 3.9

[2021-07-07 21:46] BlAd373 commented on #211
did you have some distro to suggest ?

[2021-07-09 21:57] KingAkeem commented on #212
Hey luke, I just merged a fix for this issue so you should be able to use the tree features again. I'm going to be taking a look at some potential issues so let me know if you need help with anything else.

[2021-07-09 21:57] KingAkeem commented on #190
This has been addressed, please let me know if you're still encountering issues.

[2021-07-09 22:00] KingAkeem commented on #211
Apologies for the late reply but yes, I would recommend using Ubuntu 20.04.2 LTS or higher.

[2021-07-09 22:01] KingAkeem commented on #211
Also are you on the latest branch?

[2021-07-09 22:02] #210 closed

[2021-07-09 22:04] KingAkeem commented on #209
I'd like to help out more here but I don't know how to use the GUI and there are no instructions, can anyone help out?

[2021-07-09 22:41] KingAkeem commented on #196
There's an method of saving link trees as JSON now

[2021-07-09 22:42] #142 closed

[2021-07-10 06:21] xxxcrow opened #217 "Docker buld fails. Unable to find installation candidates for pyqt5-qt5 (5.15.2)"
**Describe the bug**
Docker build fails

**To Reproduce**
Steps to reproduce the behavior:
1. git clone [repo] && cd [repo]
2. docker build -f docker/Dockerfile -t dedsecinside/torbot .

**Expected behavior**
Ready docker image

[2021-07-12 15:58] BlAd373 commented on #211
witch one ?

[2021-07-14 14:13] KingAkeem commented on #211
The latest version of `dev`, it's the main branch. https://github.com/DedSecInside/TorBot

[2021-07-16 23:33] NeoLight1010 commented on #217
That's weird. I can't reproduce the error 😕
![image](https://user-images.githubusercontent.com/58057324/126017757-1d55ddd6-5d43-46e2-a02a-dbf997b7fd03.png)

[2021-07-17 19:36] xxxcrow commented on #217
@NeoLight1010 oh, sorry, I probably was in hurry and didn't add the problem 😅
[code]

[2021-09-08 12:18] #190 closed

[2021-09-08 21:29] #212 closed

[2021-09-08 21:29] #196 closed

[2021-09-28 15:26] #187 closed

[2021-09-28 15:27] KingAkeem commented on #70
Majority of crawling logic has been moved to https://github.com/KingAkeem/gotor

[2021-09-28 15:27] #70 closed

[2021-09-28 15:28] KingAkeem commented on #209
Front-end is not ready for use

[2021-09-28 15:28] #209 closed

[2021-10-14 10:41] qqbbpsy opened #222 "Installation Error - Need Help"
![Screenshot_2021-10-14_06-37-56](https://user-images.githubusercontent.com/45928848/137302271-42575797-e642-4f47-b715-570b77cbd54b.png)

[2021-10-15 00:56] qqbbpsy commented on #222
I tried pip3 install pyinstaller

Requirement already satisfied: pyinstaller in /usr/lib/python3/dist-packages (3.5+498e6ee058)

[2021-10-15 03:43] qqbbpsy commented on #222
(**3.5+498e6ee058**)

[2021-10-15 15:34] qqbbpsy commented on #222
i upgrade it and was successful but pyinstaller --version still shows version  (3.5+498e6ee058) ./installer.sh failed again with the same error

[2021-10-15 22:31] KingAkeem commented on #222
I'd suggest figuring out how to upgrade your version of pyinstaller. I would try removing the package using `pip` then re-installing with a specific version https://stackoverflow.com/questions/5226311/installing-specific-package-versions-with-pip

[2021-10-16 09:04] qqbbpsy commented on #222
thanks fixed

[2021-10-16 09:24] qqbbpsy commented on #222
![Screenshot_2021-10-16_05-24-02](https://user-images.githubusercontent.com/45928848/137582342-e9b50923-ec37-4103-b818-44cc59a5360b.png)

[2021-10-16 12:33] KingAkeem commented on #222
All of the dependencies are not global. If you'd like to install the Python dependencies then you can use `poetry`  https://python-poetry.org/docs/basic-usage/. Either `poetry install` to download the dependencies or `poetry update` to update them. Once they've been updated/installed, you should be able to run the torBot executable. I will add this to the PR for later users.

[2021-11-30 10:55] othin1 commented on #217
Same error with ubuntu desktop 21

[2021-12-09 19:37] osmanw commented on #222
I have solve that with running it by poetry. You can try those commands
`cd src && poetry run python torBot.py -h`
or run with python3
`cd src && poetry run python3 torBot.py -h`

[2022-01-27 13:45] sniffski commented on #211
Same "ete3 error"...

Release:
[code]
Error:
[code]
Trying to run ete3:
[code]

Please help 🙏

[2022-01-31 13:50] 3ntr0phy opened #232 "Resolution of onion domains?"
I am trying to gather info regarding some random onion domains but I keep encountering the following error

[code]

while for any non-onion domain it seems to work correctly.

I have gotor server running and tor with the following config:

[code]

If I run it without flags it seems to work correctly

[code]

Do I need to make any change to my DNS? It seems such an issue

[2022-01-31 16:25] 3ntr0phy commented on #232
You basically need to replace `requests` with
[code]
in all the modules.
I will make a pull request

[2022-01-31 16:25] #232 closed

[2022-02-05 07:41] pulkit22 commented on #211
Getting the same error, could anybody help.

[2022-02-23 01:05] Fankaren commented on #211
My solution: (ubuntu20.04.3 LTS, python3)

[code]

Reference link:
http://etetoolkit.org/download/

[2022-02-23 01:31] Fankaren commented on #11
#### Environment

services && ports **OK**
[code]
I can see the ports bind already. Using `netstat -ano| grep 9050 9051`

#### TorBot Error
This is the first error I get:
[code]

I try to modify modules/api.py. change all port from 8081 to 9050. It comes up new error:
[code]

Could anyone help? Please.

[2022-02-23 01:41] Fankaren opened #236 "Connection Refused Error"
#### Environment

#### Torrc
services && ports **OK**
[code]
I can see the ports bind already. Using `netstat -ano| grep 9050 9051`

#### TorBot Error
This is the first error I get:
[code]

I try to modify modules/api.py. change all port from 8081 to 9050. It comes up new error:
[code]

Could anyone help? Please.

_Originally posted by @Fankaren in https://github.com/DedSecInside/TorBot/issues/11#

[2022-03-01 06:53] DocKali opened #238 "ImportError: cannot import name 'faces' from 'ete3'"
Hi there,

I installed the tool and everything went well, no error message during the process.

But when I try to run it, both via ./torBot and via /src python3 torBot.py, I get the following error:

[code]

Where can this error come from and how to fix it?

Thanks for your help !

[2022-03-03 09:49] anoduck commented on #238
@DocKali I went with the Dockerized deployment, because I knew I was going to run into dependency issues during installation. This now appears to have been the more difficult approach, as the Dockerfile was not even ready for deployment, and was missing the required dependencies. Although, I am receiving a different error, I have the sneaky suspicion this project has fallen into a state of no long

[2022-03-03 10:08] anoduck opened #240 "Docker: "ValueError" recieved on run."
**Describe the bug**
On the second day of attempting to achieve a successful installation, I was successful. Modifications were made to the `Dockerfile` in order to appropriate copy the contents of the repository to the dockerized container, and the addition of required dependencies `libblas-dev liblapack-dev gfortran` were added to the list of packages installed by apt. This allowed numpy to comp

[2022-03-06 04:24] EdgyIndexer commented on #222
Maybe this will help. On Kali it looks like python3-pyinstaller was a much older version like @qqbbpsy said. Once I uninstalled that using apt remove python3-pyinstaller, that fixed it since there were versions on the machine. After that was removed it resorted to the updated one that was installed by python3.

[2022-03-06 04:34] EdgyIndexer commented on #211
I'm also receiving the same error after following all these steps

[2022-03-07 03:24] anoduck commented on #240
If built within both kali Linux and Alpine Linux, error received on installation of ete3, "install_layout" fails.

If you disable creation of virtual env in poetry with Alpine, poetry removes system python libraries and installation immediately fails.

Also fails to install on kali Linux with pipenv, with install_layout error.

Hesitant to attempt to install in kali with virtual environment creati

[2022-03-09 14:45] pulkit22 commented on #217
Getting the Same error, have you got any solution?

[2022-03-10 03:26] nikhil0162 commented on #236
I am also facing this issue, did you find any way to resolve it?

[2022-03-11 14:59] lsntdev opened #241 "Build docker failed on installing scipy"
**Describe the bug**
Build image using docker failed to install scipy

**To Reproduce**
Steps to reproduce the behavior:
1. `git clone [repo] && cd [repo]`
2. `docker build -f docker/Dockerfile -t dedsecinside/torbot .`
3. See error
[code]

**Expected behavior**
Docker image build finish.

**Screenshots**
I already paste the error.

[2022-03-15 00:12] thehappydinoa opened #242 "Randomized Headers"
I found this wonderful snippet in `gocolly`, this file could make random headers rather simple: https://github.com/gocolly/colly/blob/master/extensions/random_user_agent.go

[2022-03-23 07:28] parthk2510 commented on #211
I am getting this error

 File "c:\Users\91900\Downloads\TorBot-dev\src\torBot.py", line 10, in <module>
    from modules.linktree import LinkTree
  File "c:\Users\91900\Downloads\TorBot-dev\src\modules\linktree.py", line 5, in <module>
    from .utils import join_local_path
  File "c:\Users\91900\Downloads\TorBot-dev\src\modules\utils.py", line 7, in <module>
    from dotenv import load_dotenv
Mo

[2022-04-13 15:13] BlAd373 opened #244 ""Run the container (make sure to link the tor container as tor):""
Sorry my ignorance
what i have to do?
"Run the container (make sure to link the tor container as tor):"

[2022-04-15 21:53] KingAkeem commented on #244
Can you post a screenshot of what you're doing? or copy the exact command along with the entire error output

[2022-04-15 21:54] KingAkeem commented on #242
Looks interesting, feel free to submit a PR with this change and I'll check it out

[2022-04-15 21:59] KingAkeem commented on #236
Are you running this service? https://github.com/DedSecInside/gotor/tree/ddf4a70738800a5c1587e033721fec4dae854c53

[2022-04-15 22:01] KingAkeem commented on #238
I'm not able to reproduce this, have you used `poetry` to install the dependencies? https://python-poetry.org/

[2022-04-15 22:02] KingAkeem commented on #240
I don't personally use Docker when running the project, I'd suggest doing that as well to reduce complexity for yourself unless you're able to resolve the issue.

[2022-04-15 22:02] KingAkeem commented on #241
I'd suggest not using `docker` and running the project directly if possible.

[2022-04-16 06:20] anoduck commented on #238
Make sure to use the new script when installing poetry, it will squawk at you if you don't. Simply execute:

[code]

[2022-04-16 10:24] #241 closed

[2022-04-20 14:09] BlAd373 commented on #244
sudo docker run --link tor:tor --rm -ti dedsecinside/torbot                                                                                                                                                                         126 ⨯
docker: Error response from daemon: could not get container for tor: No such container: tor.
See 'docker run --help'.

[2022-04-27 01:09] anoduck commented on #240
Not sure why running outside of docker will make any difference. It is practically the same, are running all the commands in a shell script.

Regardless, I have moved on, and will close out the issue.

[2022-04-27 01:09] #240 closed

[2022-07-06 07:54] parthk2510 commented on #238
@anoduck Even after using this command I am having same  error. What should I do ? Also is there any video installation guide for this . It will be useful
![Screenshot_2022-07-06_13-19-00](https://user-images.githubusercontent.com/87540263/177498788-0da81c17-153a-4499-ac7e-2024824ce09c.png)

[2022-07-17 10:42] Shaxrezad opened #252 "Привет"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2022-08-03 19:56] pillocx opened #253 "support error"
<img width="532" alt="image" src="https://user-images.githubusercontent.com/110566464/182697538-b4b3fdf8-6957-46b4-b9c0-6eb20b963f12.png">

[2022-08-05 20:10] pillocx opened #254 "SUPPORT"
hello i am requesting your support for the installation of torbot on linux.

[2022-08-28 05:44] #252 closed

[2022-08-28 05:44] #254 closed

[2022-08-28 11:54] PSNAppz commented on #253
A new version has been released. Please check that.

[2022-08-28 11:54] #253 closed

[2022-08-28 11:56] PSNAppz commented on #236
@Fankaren  @nikhil0162 Please make sure you are running the gotor service before running the torBot

[2022-08-28 11:56] #236 closed

[2022-08-28 11:57] PSNAppz commented on #217
Disabled `ete3` for the time being since the library was causing many issues.

[2022-08-28 11:57] #217 closed

[2022-08-28 11:58] PSNAppz commented on #222
ete3 has been disabled in the latest version. Please check that.

[2022-08-28 11:58] #222 closed

[2022-08-28 12:22] #191 closed

[2022-08-28 12:22] #211 closed

[2022-08-28 12:23] PSNAppz commented on #238
V2.1.0 has been released and the ete3 module was removed temporarily

[2022-08-28 12:23] #238 closed

[2022-08-28 12:24] #244 closed

[2022-08-28 12:30] PSNAppz opened #255 "Library for Tree/Graph visualization"
Since the release of TorBot v1, we were using the `ete3` library which served the purpose. But unfortunately, due to missing support for `PyQt5` and `python3.6`^ we had to remove the visualization module at least until an update for `ete3` is released.

But since there have been no updates for over a year, we are looking for better alternatives to the visualization module. I'm opening this issue s

[2022-08-28 14:36] sxybeast commented on #255
Check out Matplotlib, it is a popular data visualization library.

[2022-08-28 17:17] PSNAppz commented on #255
As far as I know, matplotlib doesn't support tree/graph visualization. (see: https://matplotlib.org/stable/plot_types/index.html)

[2022-08-28 17:26] PSNAppz commented on #255
Either we can use [Plotly](https://plotly.com/python/tree-plots/) which again uses 3rd party Graphic Libraries or we can use [D3.js](https://www.google.com/search?client=safari&rls=en&q=d3js&ie=UTF-8&oe=UTF-8) but we'll have to render the result in a webpage (which is fine in my opinion).

[2022-11-01 19:03] #120 closed